body {
  margin: 0;
 font-family: 'Caveat Brush';font-size: 32px;
}

h1{
 font-family: 'Fredericka the Great';font-size: 45px;
 text-align: center;
 color: #F2C1DA;
}
h5{
  margin-top: -30px;
  font-family: 'Niconne';font-size: 25px;
  text-align: center;
}
h6{
  margin-top: 40px;
  font-family: sans-serif;
}
h4{
  margin-top: -40px;
  font-size: 20px;
  font-family: Arial;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: sans-serif;
  font-size: 13px;
  min-width: 160px;
  padding: 0;
  z-index: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* svg css */

main div 
{ 
  width: 250px; 
  display: inline-block;
  margin-left: 14px;
}

img, svg 
{ width: 100%; 

}

svg { height: 35px; }

/*search bar */
* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  padding: 30px;
}

.topnav a {
  float: right;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 60px;
}

.topnav .search-container {
  float: center;
  margin-left: 600px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: center;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: center;
    display: block;
    text-align: left;
    width: 100%;
    margin: 40;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/*flexbox */
.products1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  }

.product-card1 {
  padding: 3%;
  flex-grow: 10;
  flex-basis: 6%;
  display: flex; /* so child elements can use flexbox stuff too! */
}
.products2{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  }

.product-card2{
  padding: 3%;
  flex-grow: 10;
  flex-basis: 16%;
  display: flex; /* so child elements can use flexbox stuff too! */
}
.product-image img {
  max-width: 100%;
}
.product-info {
  margin-bottom: auto;
}
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}